{% load staticfiles %}

<!--DOCTYPE html -->
<html>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' >


<link rel='stylesheet' href='{% static "css/main.css" %}' />

</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/recipes/">Recipes</a></li>
					<li><a href="/recipes/edit">Recipes Edit</a></li>
					<li><a href="/recipes/create">Recipes Create</a></li>
					<li><a href="/ingredients/">Ingredients</a></li>
					<li><a href="/ingredients/bulk/edit/">Ingred Edit</a></li>
					<li><a href="/ingredients/bulk/create/">Ingred Create</a></li>
					<li><a href="/ingredients/density/bulk/edit/">Ingred Density edit</a></li>
					<li><a href="/ingredients/density/view/">Ingred Density2</a></li>
					<li><a href="/typeofingredient/">TypeOfIngredients</a></li>
					<li><a href="/events/">Events</a></li>
					<li><a href="/tags/">Tags</a></li>
					<li><a href="/singlemeasurements/">Measurements</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	 <div class='container'> 
	    <ol class='breadcrumb'>
	        <li><a href='{% url "recipes:list" %}'>Recipes</a></li>
	        {% block detail_link %}
	        {% endblock %}

	        {% if not request.user.is_authenticated %}
	        <li class='pull-right'><a href='{% url "login" %}'>Login</a></li>
	        {% else %}
	        <li class='pull-right'><a href='{% url "logout" %}'>Logout</a></li>
	        {% endif %}
		</ol
</div>

{% block content %}{% endblock content %}
	<!-- Latest compiled and minified JavaScript -->
	<script   src="http://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>


	<script type="text/javascript">
		$(document).ready(function(){
			var loc = window.location.href; // returns the full URL
			console.log ("loc" + loc)
			if(/print/.test(loc)) {

				console.log("inside if" )
			    //Select only the a tags with "z-" in the "class" attribute, and modify the attribute using a callback function.
			    console.log($('div[class*="simha"]'))
    		    $('div[class*="simha"]').attr('class', function(index, attr) {
        			//Return the updated string, being sure to only replace z- at the start of a class name.
        			return attr.replace(/simha/gi, 'simhab');
   				 });
    		    $('#simhagaura').remove()

			}

			(function() {
			if (document.location.hash) {
				setTimeout(function() {
					window.scrollTo(window.scrollX, window.scrollY - 100);
			}, 10);
    }
})();
		})
	</script>

</body>
