{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load ingredient_quantity %}

{% block detail_link %}
  <li><a href='{% url "menus:list" %}'>Events</a></li>
  <li><a href='{{ instance.get_absolute_url_detail }}'>{{ instance.name }}</a></li>
{% endblock %}

{% block content %}

    {% include "messages_display.html" %}
<div class="container-non-responsive simhat" style="margin-right: auto;margin-left: auto;padding-left: 20px;padding-right: 20px;width: 3000px;">
    {% crispy formset helper%}
</div>

{% endblock content %}